<!DOCTYPE html>
<html>
<head>
<title> Help | Ruby on Rails Tutorial Sample App</title>
</head>
<body>

<h2>Help Page </2>
<p><a href="http://localhost:3000/static_pages/home">Home</p>
<p><a href="http://localhost:3000/static_pages/about">About</p>

</body>
</html>